/* main */

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap");

/* Custom Properties */
:root{
    --ff-heading: "Domine";
    --ff-body:"Hind Guntur";
    --clr-primary-100: #fffdf7;
    --clr-primary-200: #ffd9da;
    --clr-primary-300: #84bc9c;
    --clr-primary-400: #002500;
    --clr-primary-500: #0a2342;
}

body{
    background-color: var(--clr-primary-100);
    padding: 0 0.5em;
    line-height: 2 em;
}

.container{
    margin: 10vh auto;
    padding: 0 0.75em;
}
h1,h2, h3, h4{
    font-family: var(--ff-heading);
}


p,ul,li,a{
    font-family:var(--ff-body);  
}

svg{
    width: 0.75em;
}

/* Main CSS here */
.skip-link{
    position:absolute;
    display:inline-block;
    padding: .375rem .75rem;
    line-height: 1;
    font-size: 1.25rem;
    background-color:var(--clr-primary-300);
    color: var(--clr-primary-500);
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
    text-decoration:none;
    padding-block:15px;   
}

.skip-link:hover{
    transform: translateY(0);
}

@media only screen and (max-width:900px){
    .skip-link{
        transform: none;
        transition:none;
    }
}
 
header{
     background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
     background-size:cover;
     max-width:100%;
     text-align:center;
     padding-block:50px;
     margin-block:10px;
     color: var(--clr-primary-500);
}
header h1{
    font-size: clamp(2rem, 1rem + 8vw,7rem);
}
header p,a{
    color: var(--clr-primary-500);
}
header a{
    text-decoration:none;
    font-weight: 600;
}

header .link-github{
  padding:10px;
  margin:5px;
  color: var(--clr-primary-500);
  background-color: var(--clr-primary-300);
  border-radius: 10px;
}

header .link-github:hover{
    background-color: var(--clr-primary-200);
}

nav{
    position:relative;
    padding: 5px;
    text-align: center;
}

nav ul li{
    list-style-type:none;
    display:inline-flex;
    margin-block:5px;
    font-size: 20px;
    background-color: var(--clr-primary-300);
    padding-inline:20px;
    padding-block-start:3px;
    border-radius: 10px;
    font-weight: 600;
 }

nav ul li a{
    color:var(--clr-primary-500);
    text-decoration:none;
}

nav ul li:hover{
    background-color: var(--clr-primary-200);
}

#about{
    background-image: url("https://images.unsplash.com/photo-1515549832467-8783363e19b6?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    padding-block:10px;
    padding-inline: 20px;
    color: var(--clr-primary-500);
}

#about h2{
    border-left:5px solid var(--clr-primary-400);
    padding-inline-start: 10px;
    font-size: 30px;
}

#about blockquote{
    border-left:5px solid var(--clr-primary-400);
    padding: 5px;
    border-radius: 10px;
    padding-inline-start: 10px;
    border-right:5px solid var(--clr-primary-400);
    text-align:center;
    background-color: var(--clr-primary-200);
}
#about blockquote strong{
    font-size: 20px;
    text-align:center;
}

#about a{
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-primary-500);
}

 #about .container ul li{
    list-style-type: none;
    padding-block: 5px;
    padding-inline: 3px;
    background-color: var(--clr-primary-500);
    color: var(--clr-primary-200);
    display: inline-block;
    margin-block: 5px;
    border-radius: 10px;
}
#about .container ul li:hover{
    color: var(--clr-primary-200);
    background-color: var(--clr-primary-400);
}

#guidelines{
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-100);
    padding-inline: 15px;
    padding-block: 10px;
    margin-block: 20px;
    border-radius:5px;
    border: 8px dotted var(--clr-primary-200);
}
#guidelines h2{
    border-left: 5px solid var(--clr-primary-100);
    padding-inline-start: 10px;
    font-size: 30px;
}

#guidelines a{
    text-decoration: none;
    font-weight: 600;
    color:var(--clr-primary-100);
}

#guidelines .link-guidelines{
    background-color: var(--clr-primary-300);
    padding: 10px;
    border-radius: 10px;
    color: var(--clr-primary-500);
}

#guidelines .link-guidelines:hover{
    background-color: var(--clr-primary-200);
    color: var(--clr-primary-500);
}

#contribute{
    background-image: url("https://images.unsplash.com/photo-1551970634-747846a548cb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    max-width: 100%;
    padding-block: 20px;
}

#contribute .container{
    color: var(--clr-primary-100);
}


#contribute h2{
    border-left: 5px solid var(--clr-primary-100);
    padding-inline-start: 10px;
    font-size: 30px;
}

#contribute a{
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-primary-100);
}

#files h3{
    font-variant: small-caps;
    text-decoration:underline 2px;
}

#files a{
    text-decoration: none;
    display:inline-flex;
    margin: 10px;
    color: var(--clr-primary-500);
    background-color: var(--clr-primary-300);
    padding-inline:10px;
    padding-block:5px;
    border-radius: 10px;
}
#files a:hover{
    background-color: var(--clr-primary-200);
}
aside{
    margin: 0 auto; 
}
.profile{
    text-align:center;
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-100);
    padding-block: 10px;
    max-width: 100% auto;
}

#profile-title{
    font-size: 30px;
}
.profile ul li{;
    list-style-type: none;
    display:inline-flex;
    margin: 5px;
}
.profile ul li a{
    font-weight:600
}

.profile a{
    text-decoration: none;
    color: white;
}

#styles{
    text-align:center;
    padding-block: 10px;
}

#styles ul li{
    list-style-type:none;
    display: inline-block;
    margin-block: 3px;
    color:var(--clr-primary-500);
}

.link-allstyles{
    background-color: var(--clr-primary-300);
    text-decoration:none;
    color:var(--clr-primary-500);
    padding-block:10px;
    padding-inline:5px;
    border-radius:10px;
}

.link-allstyles:hover{
    background-color: var(--clr-primary-200);
}

#styles ul li a{
    text-decoration:none; 
    color:var(--clr-primary-500);
    margin:0 auto;
}
.profile-title,
.profile-author,
.profile-twitter,
.profile-website{
    font-size:15px;
}

.page-footer{
    background-image:url("https://images.unsplash.com/photo-1515549832467-8783363e19b6?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    text-align:center;
    padding-block-start:1px;
    padding-block-end: 5px;
    margin-block-start:10px;
}
.page-footer .container ul li{
    display:inline-block;
    margin-block:10px;
    text-align:center;
    color: var(--clr-primary-500);
    background-color: var(--clr-primary-300);
    padding-inline:10px;
    padding-block:5px;
    border-radius: 10px;    
}
.page-footer .container a{
    text-decoration:none;
    font-weight:600;
}
.page-footer .container ul li:hover{
    background-color: var(--clr-primary-200);
}


@media(prefers-reduced-motion:reduce){
    *{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration:0.01 !important;
        scroll-behavior: auto !important;
    }
}
